/*
* @Author: 我的文档
* @Date:   2018-08-15 12:29:30
* @Last Modified by:   我的文档
* @Last Modified time: 2018-08-15 14:23:20
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "苹方";
	background-repeat: no-repeat;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
header{
	width: 100%;
	height: 13rem;
	background-image: url('../img/images6/images/1.png');
	background-size: 100% 13rem;
	overflow: hidden;
	position: relative;
}
input{
	position: absolute;
	top: 7rem;
	left: 1.7rem;
	outline: none;
	border: 0;
    background: #f9f9f9;
}
input::-webkit-input-placeholder{
	color: #cdcbcb;
}
input:nth-child(2){
	margin-top: 0.85rem;
	outline: none;
	border: 0;
    background: #f9f9f9;

}
input:nth-child(3){
	margin-top: 1.7rem;
	outline: none;
	border: 0;
    background: #f9f9f9;
}
.yanzhengma{
	width: 1.47rem;
	height: 0.4rem;
	background-color: #7becce;
	border-radius: 0.2rem;
	font-size: 0.2rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 0.4rem;
	position: absolute;
	top: 7.85rem;
	left: 4.5rem;
}
.ture{
	width: 2.04rem;
	height: 0.48rem;
	text-align: center;
	font-size: 0.38rem;
	line-height: 0.48rem;
	color: #fff;
	background-color: #c5c5c5;
	border-radius: 0.3rem;
	border: 0.01rem solid #fff;
	position: absolute;
	top: 9.84rem;
	left: 2.72rem;
}

.denglu{
	width: 1rem;
	height: 0.54rem;
	background-color: #7becce;
	border-radius: 0.3rem;
	font-size: 0.28rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 0.54rem;
	margin-left: 6.08rem;
	margin-top: 0.34rem;
}
.daojishi{
	width: 1.47rem;
	height: 0.4rem;
	background-color: #7becce;
	border-radius: 0.2rem;
	font-size: 0.2rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 0.4rem;
	position: absolute;
	top: 7.85rem;
	left: 4.5rem;
	z-index: 2;
	display: none;
}